<!DOCTYPE html>
<html lang="en">
  <%- include('header'); -%>
  <body>
    <%- include('nav'); -%>
    <section id="hero" class="d-flex align-items-center">
      <div id="wheel" class="container">
        <div class="row">
          <div class="col-lg-12">
            <table>
                <tr>
                    <th>no.</th>
                    <th>QR Code</th>
                    <th>Path Crate Image</th>
                    <th>Name </th>
                    <th>LastName</th>
                </tr>
              <% data.qr.forEach(function(student,index) { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><img src="<%= student %>" alt="QR Code" /></td>
                <td><img src="/img/<%= index + 1  %>.png" ></td>
              </tr>
              <% }); %>
            </table>
        </div>
        </div>
      </div>
    </section>

    <main id="main">
      MAIN
    </main>
    <%- include('footer'); -%>
  </body>
</html>
